*{background-color: rgb(53, 49, 49);
    box-sizing: border-box;
    margin: 0;
  }
  h1, h2, h3, h4, p {
    color: rgb(150, 140, 140);
    font-family: 'Oswald', sans-serif;
  }
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    font-weight: 900;
  }
  h2 {
    font-size: 2.5em;
    font-weight: 700;
  }
  h3 {
    font-size: 2.125em;
    font-weight: 500;
  }
  #home{font-size: xx-large;
text-decoration: none;}
  #sales{font-size: xx-large;
text-decoration: none;}
main{font-size: large; color: cornsilk; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: cornsilk;}
#s{color: cornsilk;font-size: large;}