table{
  position: absolute;
  top:300px;
  left: 30px;;
  width:80% ;
  border: 2px solid black;
}





th {
color:rgb(248, 245, 245);
font-size:30px;
background-color:rgb(98, 175, 165) ;
text-align: center;

font-weight: bold;
border: 2px solid rgb(117, 112, 112);
}


td{
  color:rgb(243, 236, 236);
  background-color:#7aa8a8;
  font-size:30px;
  text-align: center;

  border: 2px solid rgb(80, 76, 76);
}




*{background-color: rgb(172, 172, 172);
    box-sizing: border-box;
    margin: 0;
  }
  h1, h2, h3, h4, p {
    color: white;
    font-family: 'Oswald', sans-serif;
  }
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    font-weight: 900;
  }
  h2 {
    font-size: 2.5em;
    font-weight: 700;
  }
  h3 {
    font-size: 2.125em;
    font-weight: 500;
  }
  #home{font-size: xx-large;
text-decoration: none;}
  
   #sales{font-size: xx-large;
    text-decoration: none;
    }
      